
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #0D0D25;
    color: white;
}
/* NAVIGATION */
.navbar {
    width: 100%;
    padding: 20px 60px;
    background: rgba(255, 255, 255, 0.02);
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(10px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.logo {
    font-size: 26px;
    font-weight: 700;
    color: #ffffff;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav-links a {
    text-decoration: none;
    color: #d5d5d5;
    font-size: 16px;
    transition: .3s;
}

.nav-links a:hover,
.nav-links .active {
    color: #ffffff;
}

.btn-contact {
    padding: 8px 20px;
    border: 1px solid #ffffff;
    border-radius: 6px;
}


.btn-dawnload {
    padding: 14px 32px;
    background: linear-gradient(45deg, #6C4EF4, #9B59FF);
    border-radius: 8px;
    text-decoration: none;
    color: white;
    font-weight: 600;
}

section {
    padding: 80px 5%;
}


.hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 120px;
}

.hero-content h3 {
    font-size: 22px;
    color: #CCCCCC;
}

.hero-content h1 {
    font-size: 60px;
    font-weight: 800;
    margin: 10px 0;
}

.hero-content h2 {
    font-size: 34px;
    margin-bottom: 20px;
}

.hero-content h2 span {
    color: #9B59FF;
    font-weight: 700;
}

.hero-content p {
    width: 550px;
    line-height: 1.6;
    color: #CFCFCF;
    font-size: 18px;
    margin-bottom: 30px;
}

.hero-buttons a {
    margin-right: 20px;
}

.hero-image {
    position: relative;
}

.glow-circle {
    width: 380px;
    height: 380px;
    background: radial-gradient(circle, #6C4EF4, #9B59FF);
    filter: blur(120px);
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: -50px;
    z-index: 0;
    opacity: 0.6;
}

.hero-image img {
    width: 300px;
    border-radius: 50%;
    z-index: 2;
    position: relative;
}


.about-section {
    text-align: center;
}

.about-container {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.about-img img {
    width: 300px;
    border-radius: 10px;
}

.about-text {
    width: 500px;
    text-align: left;
}

.about-text h3 {
    font-size: 28px;
    color: #9B59FF;
    margin-bottom: 20px;
}

.about-text p {
    font-size: 18px;
    line-height: 1.7;
    margin-bottom: 30px;
}



.skills-section {
    text-align: center;
}

.skills-grid {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
}

.skill-card {
    background: rgba(255,255,255,0.05);
    padding: 25px;
    border-radius: 10px;
    border: 1px solid rgba(255,255,255,0.1);
}

.skill-card h3 {
    margin-bottom: 15px;
    color: #9B59FF;
}

.skill-card ul {
    padding-left: 18px;
}

.skill-card li {
    margin-bottom: 10px;
    color: #CFCFCF;
}



.projects-section {
    text-align: center;
}

.project-grid {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.project-card {
    background: rgba(255,255,255,0.05);
    border-radius: 10px;
    padding: 20px;
    border: 1px solid rgba(255,255,255,0.1);
    text-align: left;
}

.project-card img {
    width: 100%;
    border-radius: 10px;
}

.project-card h3 {
    margin-top: 15px;
    color: #9B59FF;
}

.project-card a {
    color: #9B59FF;
    font-weight: 600;
    text-decoration: none;
}



.experience-section {
    text-align: center;
}

.experience-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.experience-card {
    background: rgba(255,255,255,0.05);
    padding: 25px;
    border-radius: 12px;
    border: 1px solid rgba(255,255,255,0.1);
    text-align: left;
}

.experience-card h3 {
    font-size: 20px;
    color: #9B59FF;
    margin-bottom: 8px;
}

.experience-card h4 {
    font-size: 16px;
    color: #CCCCCC;
    margin-bottom: 15px;
}

.experience-card ul {
    padding-left: 20px;
}

.experience-card li {
    font-size: 15px;
    color: #CFCFCF;
    margin-bottom: 10px;
    line-height: 1.6;
}


.blog-section {
    text-align: center;
}

.blog-title {
    font-size: 26px;
    color: #9B59FF;
    margin-top: 20px;
}

.blog-content {
    margin-top: 30px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.blog-content p {
    margin-bottom: 20px;
    font-size: 18px;
    color: #CFCFCF;
    line-height: 1.7;
}



.contact-section {
    text-align: center;
}

.contact-form {
    margin-top: 40px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.contact-form .row {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 14px;
    background: rgba(255,255,255,0.05);
    border: 1px solid rgba(255,255,255,0.1);
    color: white;
    border-radius: 8px;
    outline: none;
}

.contact-form textarea {
    height: 150px;
    resize: none;
}

.contact-form button {
    padding: 14px 40px;
    background: linear-gradient(45deg, #6C4EF4, #9B59FF);
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
}


 RESPONSIVE 
    .hero-section {
        flex-direction: column;
        text-align: center;
    }

    .hero-content p {
        width: 100%;
    }

    .about-container {
        flex-direction: column;
        text-align: center;
    }

    .skills-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .project-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .experience-container {
        grid-template-columns: 1fr;
    }

    .blog-content,
    .contact-form {
        width: 90%;
    }


@media (max-width: 600px) {
    .skills-grid,
    .project-grid {
        grid-template-columns: 1fr;
    }

    .hero-content h1 {
        font-size: 40px;
    }

    .hero-content h2 {
        font-size: 26px;
    }
}
